## Revised Homework 2 : Cold k-means

In this element, I am using a dataset to classify people into two groups to determine whether it could be predicted whether someone will have a stroke. 

I will be implementing a cold k-means .

In [20]:
#importing packages
from scipy.spatial import distance  
import pandas as pd
import numpy as np

In [45]:
#importing data
data = pd.read_csv("Country-data.csv", sep= ",")

data.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200

In [46]:
#creating the subset
data_subset = data[['exports', 'imports','income','gdpp']]

#dropping rows with NaN values
data_subset = data_subset.dropna()
data_subset.head()

   exports  imports  income   gdpp
0     10.0     44.9    1610    553
1     28.0     48.6    9930   4090
2     38.4     31.4   12900   4460
3     62.3     42.9    5900   3530
4     45.5     58.9   19100  12200

In [47]:
#turning subset into numpy array
data_subset_NP = data_subset.to_numpy()

data_subset_NP

array([[1.00e+01, 4.49e+01, 1.61e+03, 5.53e+02],
       [2.80e+01, 4.86e+01, 9.93e+03, 4.09e+03],
       [3.84e+01, 3.14e+01, 1.29e+04, 4.46e+03],
       [6.23e+01, 4.29e+01, 5.90e+03, 3.53e+03],
       [4.55e+01, 5.89e+01, 1.91e+04, 1.22e+04],
       [1.89e+01, 1.60e+01, 1.87e+04, 1.03e+04],
       [2.08e+01, 4.53e+01, 6.70e+03, 3.22e+03],
       [1.98e+01, 2.09e+01, 4.14e+04, 5.19e+04],
       [5.13e+01, 4.78e+01, 4.32e+04, 4.69e+04],
       [5.43e+01, 2.07e+01, 1.60e+04, 5.84e+03],
       [3.50e+01, 4.37e+01, 2.29e+04, 2.80e+04],
       [6.95e+01, 5.09e+01, 4.11e+04, 2.07e+04],
       [1.60e+01, 2.18e+01, 2.44e+03, 7.58e+02],
       [3.95e+01, 4.87e+01, 1.53e+04, 1.60e+04],
       [5.14e+01, 6.45e+01, 1.62e+04, 6.03e+03],
       [7.64e+01, 7.47e+01, 4.11e+04, 4.44e+04],
       [5.82e+01, 5.75e+01, 7.88e+03, 4.34e+03],
       [2.38e+01, 3.72e+01, 1.82e+03, 7.58e+02],
       [4.25e+01, 7.07e+01, 6.42e+03, 2.18e+03],
       [4.12e+01, 3.43e+01, 5.41e+03, 1.98e+03],
       [2.97e+01, 5.13e+01, 9.72e+03, 4.61e+03],
       [4.36e+01, 5.13e+01, 1.33e+04, 6.35e+03],
       [1.07e+01, 1.18e+01, 1.45e+04, 1.12e+04],
       [6.74e+01, 2.80e+01, 8.06e+04, 3.53e+04],
       [5.02e+01, 5.30e+01, 1.53e+04, 6.84e+03],
       [1.92e+01, 2.96e+01, 1.43e+03, 5.75e+02],
       [8.92e+00, 3.92e+01, 7.64e+02, 2.31e+02],
       [5.41e+01, 5.95e+01, 2.52e+03, 7.86e+02],
       [2.22e+01, 2.70e+01, 2.66e+03, 1.31e+03],
       [2.91e+01, 3.10e+01, 4.07e+04, 4.74e+04],
       [3.27e+01, 6.18e+01, 5.83e+03, 3.31e+03],
       [1.18e+01, 2.65e+01, 8.88e+02, 4.46e+02],
       [3.68e+01, 4.35e+01, 1.93e+03, 8.97e+02],
       [3.77e+01, 3.13e+01, 1.94e+04, 1.29e+04],
       [2.63e+01, 2.26e+01, 9.53e+03, 4.56e+03],
       [1.59e+01, 1.78e+01, 1.09e+04, 6.25e+03],
       [1.65e+01, 5.17e+01, 1.41e+03, 7.69e+02],
       [4.11e+01, 4.96e+01, 6.09e+02, 3.34e+02],
       [8.51e+01, 5.47e+01, 5.19e+03, 2.74e+03],
       [3.32e+01, 3.50e+01, 1.30e+04, 8.20e+03],
       [5.06e+01, 4.33e+01, 2.69e+03, 1.22e+03],
       [3.76e+01, 3.81e+01, 2.01e+04, 1.35e+04],
       [5.02e+01, 5.75e+01, 3.39e+04, 3.08e+04],
       [6.60e+01, 6.29e+01, 2.83e+04, 1.98e+04],
       [5.05e+01, 4.36e+01, 4.40e+04, 5.80e+04],
       [2.27e+01, 3.33e+01, 1.11e+04, 5.45e+03],
       [2.79e+01, 3.24e+01, 9.35e+03, 4.66e+03],
       [2.13e+01, 2.66e+01, 9.86e+03, 2.60e+03],
       [2.69e+01, 4.66e+01, 7.30e+03, 2.99e+03],
       [8.58e+01, 5.89e+01, 3.37e+04, 1.71e+04],
       [4.79e+00, 2.33e+01, 1.42e+03, 4.82e+02],
       [7.51e+01, 6.87e+01, 2.27e+04, 1.46e+04],
       [5.78e+01, 6.39e+01, 7.35e+03, 3.65e+03],
       [3.87e+01, 3.74e+01, 3.98e+04, 4.62e+04],
       [2.68e+01, 2.81e+01, 3.69e+04, 4.06e+04],
       [5.77e+01, 1.89e+01, 1.54e+04, 8.75e+03],
       [2.38e+01, 4.27e+01, 1.66e+03, 5.62e+02],
       [3.50e+01, 5.28e+01, 6.73e+03, 2.96e+03],
       [4.23e+01, 3.71e+01, 4.04e+04, 4.18e+04],
       [2.95e+01, 4.59e+01, 3.06e+03, 1.31e+03],
       [2.21e+01, 3.07e+01, 2.87e+04, 2.69e+04],
       [2.38e+01, 4.92e+01, 1.12e+04, 7.37e+03],
       [2.58e+01, 3.63e+01, 6.71e+03, 2.83e+03],
       [3.03e+01, 4.32e+01, 1.19e+03, 6.48e+02],
       [1.49e+01, 3.52e+01, 1.39e+03, 5.47e+02],
       [5.14e+01, 7.91e+01, 5.84e+03, 3.04e+03],
       [1.53e+01, 6.47e+01, 1.50e+03, 6.62e+02],
       [8.18e+01, 7.65e+01, 2.23e+04, 1.31e+04],
       [5.34e+01, 4.33e+01, 3.88e+04, 4.19e+04],
       [2.26e+01, 2.71e+01, 4.41e+03, 1.35e+03],
       [2.43e+01, 2.24e+01, 8.43e+03, 3.11e+03],
       [2.44e+01, 1.94e+01, 1.74e+04, 6.53e+03],
       [3.94e+01, 3.41e+01, 1.27e+04, 4.50e+03],
       [1.03e+02, 8.65e+01, 4.57e+04, 4.87e+04],
       [3.50e+01, 3.29e+01, 2.96e+04, 3.06e+04],
       [2.52e+01, 2.72e+01, 3.62e+04, 3.58e+04],
       [3.13e+01, 4.96e+01, 8.00e+03, 4.68e+03],
       [1.50e+01, 1.36e+01, 3.58e+04, 4.45e+04],
       [4.83e+01, 6.90e+01, 9.47e+03, 3.68e+03],
       [4.42e+01, 2.99e+01, 2.01e+04, 9.07e+03],
       [2.07e+01, 3.36e+01, 2.48e+03, 9.67e+02],
       [1.33e+01, 7.99e+01, 1.73e+03, 1.49e+03],
       [6.67e+01, 3.04e+01, 7.52e+04, 3.85e+04],
       [5.16e+01, 8.17e+01, 2.79e+03, 8.80e+02],
       [3.54e+01, 4.93e+01, 3.98e+03, 1.14e+03],
       [5.37e+01, 5.51e+01, 1.83e+04, 1.13e+04],
       [3.58e+01, 6.02e+01, 1.63e+04, 8.86e+03],
       [3.94e+01, 1.01e+02, 2.38e+03, 1.17e+03],
       [1.91e+01, 9.26e+01, 7.00e+02, 3.27e+02],
       [6.56e+01, 4.21e+01, 2.96e+04, 1.21e+04],
       [6.53e+01, 6.72e+01, 2.11e+04, 1.20e+04],
       [1.75e+02, 1.42e+02, 9.17e+04, 1.05e+05],
       [3.98e+01, 5.81e+01, 1.14e+04, 4.54e+03],
       [2.50e+01, 4.30e+01, 1.39e+03, 4.13e+02],
       [2.28e+01, 3.49e+01, 1.03e+03, 4.59e+02],
       [8.69e+01, 7.10e+01, 2.11e+04, 9.07e+03],
       [7.76e+01, 6.54e+01, 1.05e+04, 7.10e+03],
       [2.28e+01, 3.51e+01, 1.87e+03, 7.08e+02],
       [1.53e+02, 1.54e+02, 2.83e+04, 2.11e+04],
       [5.07e+01, 6.12e+01, 3.32e+03, 1.20e+03],
       [5.12e+01, 6.22e+01, 1.59e+04, 8.00e+03],
       [2.35e+01, 8.10e+01, 3.34e+03, 2.86e+03],
       [3.92e+01, 7.85e+01, 3.91e+03, 1.63e+03],
       [4.67e+01, 5.67e+01, 7.71e+03, 2.65e+03],
       [3.70e+01, 6.27e+01, 1.40e+04, 6.68e+03],
       [3.22e+01, 4.30e+01, 6.44e+03, 2.83e+03],
       [3.15e+01, 4.62e+01, 9.18e+02, 4.19e+02],
       [1.09e-01, 6.59e-02, 3.72e+03, 9.88e+02],
       [4.78e+01, 6.07e+01, 8.46e+03, 5.19e+03],
       [9.58e+00, 3.64e+01, 1.99e+03, 5.92e+02],
       [7.20e+01, 6.36e+01, 4.55e+04, 5.03e+04],
       [3.03e+01, 2.80e+01, 3.23e+04, 3.37e+04],
       [2.22e+01, 4.91e+01, 8.14e+02, 3.48e+02],
       [2.53e+01, 1.74e+01, 5.15e+03, 2.33e+03],
       [3.97e+01, 2.85e+01, 6.23e+04, 8.78e+04],
       [6.57e+01, 4.12e+01, 4.53e+04, 1.93e+04],
       [1.35e+01, 1.94e+01, 4.28e+03, 1.04e+03],
       [7.00e+01, 7.82e+01, 1.54e+04, 8.08e+03],
       [5.51e+01, 5.15e+01, 7.29e+03, 3.23e+03],
       [2.78e+01, 2.38e+01, 9.96e+03, 5.02e+03],
       [3.48e+01, 3.66e+01, 5.60e+03, 2.13e+03],
       [4.01e+01, 4.21e+01, 2.18e+04, 1.26e+04],
       [2.99e+01, 3.74e+01, 2.72e+04, 2.25e+04],
       [6.23e+01, 2.38e+01, 1.25e+05, 7.03e+04],
       [3.26e+01, 3.88e+01, 1.78e+04, 8.23e+03],
       [2.92e+01, 2.11e+01, 2.31e+04, 1.07e+04],
       [1.20e+01, 3.00e+01, 1.35e+03, 5.63e+02],
       [2.92e+01, 5.31e+01, 5.40e+03, 3.45e+03],
       [4.96e+01, 3.30e+01, 4.54e+04, 1.93e+04],
       [2.49e+01, 4.03e+01, 2.18e+03, 1.00e+03],
       [3.29e+01, 4.79e+01, 1.27e+04, 5.41e+03],
       [9.38e+01, 1.08e+02, 2.04e+04, 1.08e+04],
       [1.68e+01, 3.45e+01, 1.22e+03, 3.99e+02],
       [2.00e+02, 1.74e+02, 7.21e+04, 4.66e+04],
       [7.63e+01, 7.78e+01, 2.52e+04, 1.66e+04],
       [6.43e+01, 6.29e+01, 2.87e+04, 2.34e+04],
       [4.93e+01, 8.12e+01, 1.78e+03, 1.29e+03],
       [2.86e+01, 2.74e+01, 1.20e+04, 7.28e+03],
       [4.94e+01, 4.62e+01, 3.04e+04, 2.21e+04],
       [2.55e+01, 2.68e+01, 3.25e+04, 3.07e+04],
       [1.96e+01, 2.68e+01, 8.56e+03, 2.81e+03],
       [2.69e+01, 5.71e+01, 9.92e+03, 6.23e+03],
       [1.97e+01, 1.72e+01, 3.37e+03, 1.48e+03],
       [5.25e+01, 3.84e+01, 1.42e+04, 8.30e+03],
       [4.62e+01, 4.07e+01, 4.29e+04, 5.21e+04],
       [6.40e+01, 5.33e+01, 5.55e+04, 7.46e+04],
       [1.49e+01, 5.86e+01, 2.11e+03, 7.38e+02],
       [1.87e+01, 2.91e+01, 2.09e+03, 7.02e+02],
       [6.65e+01, 6.08e+01, 1.35e+04, 5.08e+03],
       [2.20e+00, 2.78e+01, 1.85e+03, 3.60e+03],
       [4.02e+01, 5.73e+01, 1.21e+03, 4.88e+02],
       [1.24e+01, 6.03e+01, 4.98e+03, 3.55e+03],
       [5.05e+01, 5.53e+01, 1.04e+04, 4.14e+03],
       [2.04e+01, 2.55e+01, 1.80e+04, 1.07e+04],
       [7.63e+01, 4.45e+01, 9.94e+03, 4.44e+03],
       [1.71e+01, 2.86e+01, 1.54e+03, 5.95e+02],
       [4.71e+01, 5.11e+01, 7.82e+03, 2.97e+03],
       [7.77e+01, 6.36e+01, 5.76e+04, 3.50e+04],
       [2.82e+01, 3.08e+01, 3.62e+04, 3.89e+04],
       [1.24e+01, 1.58e+01, 4.94e+04, 4.84e+04],
       [2.63e+01, 2.54e+01, 1.71e+04, 1.19e+04],
       [3.17e+01, 2.85e+01, 4.24e+03, 1.38e+03],
       [4.66e+01, 5.27e+01, 2.95e+03, 2.97e+03],
       [2.85e+01, 1.76e+01, 1.65e+04, 1.35e+04],
       [7.20e+01, 8.02e+01, 4.49e+03, 1.31e+03],
       [3.00e+01, 3.44e+01, 4.48e+03, 1.31e+03],
       [3.70e+01, 3.09e+01, 3.28e+03, 1.46e+03]])

In [48]:
#normalizing variables in gym_vs_coffee_NP and creating gym_vs_coffee_norm

exports = data_subset_NP[:,0]
mx = np.max(exports)
mn = np.min(exports)

exports_norm = (exports - mn)/(mx - mn)
exports_norm = np.around(exports_norm, decimals = 2) 

imports = data_subset_NP[:,1]
mx = np.max(imports)
mn = np.min(imports)

imports_norm = (imports - mn)/(mx - mn)
imports_norm = np.around(imports_norm, decimals = 2) 

income = data_subset_NP[:,2]
mx = np.max(income)
mn = np.min(income)

income_norm = (income - mn)/(mx - mn)
income_norm = np.around(income_norm, decimals = 2) 

gdpp = data_subset_NP[:,3]
mx = np.max(gdpp)
mn = np.min(gdpp)

gdpp_norm = (gdpp - mn)/(mx - mn)
gdpp_norm = np.around(gdpp_norm, decimals = 2) 


data_subset_norm = np.stack((exports_norm, imports_norm,income_norm,gdpp_norm),axis=-1)

In [49]:
def cold_kmeans(arrayName, k, randomState):
    df = pd.DataFrame(arrayName)
    
    #finding k centers (for stroke prediction, k=2)
    centers= df.sample(k, random_state = randomState)
    centers_np = centers.to_numpy()

    #oldCenters, used for storing the centers of the current iteration, is initialized
    oldCenters = []

    # The centers are recalculated until the centers from the new calculations are equal to the centers 
    # from the previous calculation. Therefore, the stopping condition is when the clusters stop 
    # changing and all centers remain the same. 
    
    # To avoid falling into a local minima, a second stopping condition is used: number of iterations
    i = 0
    
    while (not (np.array_equal(oldCenters, centers_np)) and i<200):
        #iteration number increased
        i+=1
        
        #old Centers are set to whatever centers were calculated before 
        oldCenters = np.copy(centers_np)
        
        #new distances calculated and clusters are assigned
        dists = distance.cdist(arrayName, centers_np, 'euclidean')
        clusters = np.argmin(dists, axis=1)

        #looping over each cluster
        for n in range (len(centers_np)):
            subset = []
            
            #adding the indices of the points in each cluster
            for i in range (len(clusters)):
                if (clusters[i]==n):
                    subset.append(i)
                    
            #taking a subset of the points in the cluster
            sub = df.iloc[subset]
            
            #finding a new center for this cluster and changing its value in centers_np
            centers_np[n] = sub.mean(axis=0)
    
    return centers_np, clusters

In [50]:
data_subset_norm

output = cold_kmeans(data_subset_norm, 2, 10)

print(len(output[1]))

167

In [51]:
def compute_mse(truth_vec, predict_vec):
    return np.mean((truth_vec - predict_vec)**2)

0.4224893053575066

Question 1: Your k-means implementation
For this question, you will submit your "cold" k-means implementation and include your justification for the stopping condition(s) that you used in your implementations. Your implementation should be called my_kmeans() and should set at three inputs in this order -

A numpy array
The number of cluster (ie. k)
The random_state
Your implementation should terminate with output including:

The cluster centers
Cluster labels for the data points
Question 2: Choosing k using elbowology
Part A
In k-means, we supply the number of clusters that we believe our data has. This means that the choice of k is made without being directly derived from the data. In this question, you will use elbowology to determine the number of clusters that our data falls into.

For this question, we will use the students_info.csv for this question. For each of the three variable combinations, please normalize your variables and then do the following:

Using either within cluster sum of squares or average cluster cohesion as the measure of cluster "goodness", write a function looping_kmeans that perform k-means using sklearn and computes the "goodness" of clusters for k=1, k=2, ..., k=10. While the k-means should use the sklearn implementation, the measure of "goodness" should be written by you. The inputs should be 1) a numpy array and list of values for k, with the output being the list of the "goodness" measures.
Plot the values of k against your chosen measure of cluster "goodness" as a line plot with each point marked clearly.
Examining your plot, find the value of k that is closest to the "elbow"; that is where the plot changes directions most sharply. This point should look like the elbow on a bent arm.
The variable combinations are:

Gym time and average cups of coffee
Sleep and GPA
All numerical variables within students_info.csv
Part B
Given your plots above, how many clusters do our students fall into. You must choose one number and justify your choice.

Question 3: Limitations of k-means
When working with a new method, we need to explore its limitations. For this question, we explore if k-means can work on all data. Considering three kinds of data, please explain if k-means can work on it. If you believe that it can, explain; and if not, offer a counter example.

Numerical variables: data that is just numbers, such as human height or outdoor temperature
Categorical variables: data that is based on categories or classes, such as coffee/tea preferences or favorite color
Ordinal variables: data that is categorical with an agreed upon ordering such as birth month or seasons
For each type, would k-means work? If yes, explain why. If not, provide a counter example.